@using Planex.Web.App_LocalResources
@using Planex.Web.Models.Messages
@model IEnumerable<Planex.Web.Models.Messages.MessageViewModel>

<style>
    .red {
        font-weight: bold;
        color: red;
    }
</style>

<script>
    function onDataBound() {
        var grid = this;
        grid.tbody.find('>tr').each(function() {
            var dataItem = grid.dataItem(this);
            if (!dataItem.IsRead) {
                $(this).addClass('red');
            }
        });
    }
</script>

@{
    ViewBag.Title = HtmlLabels.MessagesInbox;
}

<div class="well k-content">
    <h3 class="well-title">@HtmlLabels.MessagesInbox</h3>
    <hr/>
    <div>
        @Html.ActionLink(HtmlLabels.MessagesNew, "Send", "", new { @class = "k-button" })
    </div>
    <br/>
    @(Html.Kendo().Grid<MessageViewModel>().Name("grid").Columns(columns =>
          {
              columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("View", "Messages", new { id = "#=Id#" }) + "'>" + @HtmlLabels.MessagesView + "</a>");
              columns.Bound(c => c.From.Name);
              columns.Bound(c => c.Subject);
              columns.Bound(c => c.Date).Format("{0:MM/dd/yyyy hh:mm}");
          }).ColumnMenu().Pageable().Navigatable().Sortable(sortable => { sortable.SortMode(GridSortMode.SingleColumn); }).Filterable().Scrollable().Events(events => events.DataBound("onDataBound")).DataSource(dataSource => dataSource.Ajax().Model(model => model.Id(p => p.Id)).Sort(s => s.Add("Date").Descending()).Read(read => read.Action("ReadMessages", "JsonData")))
          )
</div>
