@using Kendo.Mvc.UI
@model IEnumerable<Planex.Web.Areas.Manager.Models.ProjectViewModel>

<h1>Projects</h1>

@(Html.Kendo().Grid<Planex.Web.Areas.Manager.Models.ProjectViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Details", "Index", new { id = "#=Id#" }) + "'>Select</a>");
          columns.Bound(c => c.Title);
          columns.Bound(c => c.Manager);
          columns.Bound(c => c.Lead);
          columns.Bound(c => c.Priority);
          columns.Bound(c => c.State);
          columns.Bound(c => c.Completed);
          //          columns.Command(command => { command.Edit();});
      })
      //      .ToolBar(toolbar =>
      //      {
      //          toolbar.Create();
      //      })
      .ColumnMenu()
      .Pageable()
      .Navigatable()
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.Id))
          .Read(read => read.Action("Projects_Read", "Json"))
      //          .Create(create => create.Action("Skills_Create", "Skills"))
      //          .Update(update => update.Action("Skills_Update", "Skills"))
      //          .Destroy(destroy => destroy.Action("Skills_Destroy", "Skills"))
      )
)
