@*@using Kendo.Mvc.UI*@
@*@using Planex.Web.Areas.Lead.Models*@
@*@using Planex.Web.Areas.Lead.Models.Gantt*@
@*@using Planex.Web.Areas.Manager.Models*@
@*@using ProjectDetailsViewModel = Planex.Web.Areas.Lead.Models.Gantt.ProjectDetailsViewModel*@
@**@
@*@(Html.Kendo().Gantt<ProjectDetailsViewModel, ProjectDetailsDependencyViewModel>()*@
@*    .Name("gantt")*@
@*    .Columns(columns =>*@
@*    {*@
@*//        columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Details", "Projects", new { id = "#=Id#" }) + "'>Select</a>");*@
@*        columns.Bound("title").Editable(true).Sortable(true);*@
@*        columns.Bound("start").Title("Start Time").Format("{0:MM/dd/yyyy}").Width(100).Editable(true).Sortable(true);*@
@*        columns.Bound("end").Title("End Time").Format("{0:MM/dd/yyyy}").Width(100).Editable(true).Sortable(true);*@
@*        columns.Resources("Users").Editable(true).Title("Assigned Resources");*@
@*    })*@
@*    .Editable(true)*@
@*    .Views(views =>*@
@*    {*@
@*        views.DayView();*@
@*        views.WeekView(weekView => weekView.Selected(true));*@
@*        views.MonthView();*@
@*    })*@
@*    .Height(700)*@
@*    .ShowWorkHours(false)*@
@*    .ShowWorkDays(false)*@
@*    .Snap(false)*@
@*    .DataSource(d => d*@
@*        .Model(m =>*@
@*        {*@
@*            m.Id(f => f.TaskId);*@
@*            m.ParentId(f => f.ParentTaskId);*@
@*            m.OrderId(f => f.TaskOrderId);*@
@*            m.Field(f => f.Expanded).DefaultValue(true);*@
@*        })*@
@*        .Read("ReadTasks", "Helper")*@
@*        .Create("CreateTask", "Helper")*@
@*        .Destroy("DestroyTask", "Helper")*@
@*        .Update("UpdateTask", "Helper")*@
@*    )*@
@*    .DependenciesDataSource(d => d*@
@*        .Model(m =>*@
@*        {*@
@*            m.Id(f => f.DependencyID);*@
@*            m.PredecessorId(f => f.PredecessorID);*@
@*            m.SuccessorId(f => f.SuccessorID);*@
@*            m.Type(f => f.Type);*@
@*        })*@
@*        .Read("ReadDependencies", "Helper")*@
@*    //        .Create("CreateDependency", "Gantt")*@
@*    //        .Destroy("DestroyDependency", "Gantt")*@
@*    //        .Update("UpdateDependency", "Gantt")*@
@*    )*@
@*    .Resources(r => r*@
@*                .Field("Users")*@
@*                .DataColorField("Color")*@
@*                .DataTextField("Name")*@
@*                .DataSource(d => d*@
@*                    .Custom()*@
@*                    .Schema(s => s*@
@*                        .Model(m =>*@
@*                        {*@
@*                            m.Id("ResourseId");*@
@*                        })*@
@*                        .Data("Data")*@
@*                    )*@
@*                    .Transport(t =>*@
@*                    {*@
@*                        t.Read("ReadResources", "Helper");*@
@*                    })*@
@*                )*@
@*            )*@
@*    .Assignments<ProjectDetailsAssignmentsViewModel>(a => a*@
@*        .DataTaskIdField("TaskID")*@
@*        .DataResourceIdField("ResourceID")*@
@*        .DataValueField("Units")*@
@*        .DataSource(d => d*@
@*            .Model(m =>*@
@*            {*@
@*                m.Id(f => f.AssignmentID);*@
@*            })*@
@*            .Read("ReadAssignments", "Helper")*@
@*            .Create("CreateAssignments", "Helper")*@
@*            .Destroy("DestroyAssignments", "Helper")*@
@*            .Update("UpdateAssignments", "Helper")*@
@*        )*@
@*    )*@
@*)*@